@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_slnt_wght.ttf') format('truetype');
    /* 
        type of format()
        - opentype (itf)
        - truetype (ttf)
        - embedded-opentype 
        - truetype-aat (Apple Advanced Typography)
        - svg
    */
}
/*  
    Responsive design
    - Mobile: 375px
    - Desktop: 1440px 
*/

:root {
    /* font */
    --font-family: "Inter", 'arial';

    /* colors Primary */
    --primary-green: hsl(75, 94%, 57%);

    /* colors Neutral */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey: hsl(0, 0%, 20%);
    --neutral-dark-grey: hsl(0, 0%, 12%);
    --neutral-off-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--neutral-white);
    border: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-off-black);
    height: 100vh;
}

.container {
    flex-direction: column;
    background-color: var(--neutral-dark-grey);
    width: 300px;
    height: 500px;
    border-radius: 10px;
}

.div-image {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.image {
    margin-top: 30px;
    border-radius: 100%;
    width: 75px;
    height: auto;
    margin-bottom: 25px;
}
.description{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.description h1{
    text-align: center;
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: 500;
}
.description-adress{
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--primary-green);
    font-family: var(--font-family);
}
.description-me{
    text-align: center;
    font-family: var(--font-family);
    font-size: 0.80rem;
    font-weight: 300;
    margin-bottom: 20px;
}
